n8n_workflow_fixed.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "fb4af014-26e6-4477-821f-917fc9b3ee96",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -768,
                -848
            ],
            "id": "640d4e41-0892-4f84-94a3-0961c9c25164",
            "name": "Webhook",
            "webhookId": "fb4af014-26e6-4477-821f-917fc9b3ee96"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-1-attachment",
                            "leftValue": "={{ $('Count Attachments').item.json.attachmentCount }}",
                            "rightValue": 1,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                896,
                -1840
            ],
            "id": "bbbee66f-92d5-4238-8f40-d81ed9efd605",
            "name": "If 1 Attachment",
            "executeOnce": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-2-attachments",
                            "leftValue": "={{ $('Count Attachments').item.json.attachmentCount }}",
                            "rightValue": 2,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                896,
                -1648
            ],
            "id": "86d6093a-5e49-438d-8afd-77c7c67823f4",
            "name": "If 2 Attachments",
            "executeOnce": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-3-attachments",
                            "leftValue": "={{ $('Count Attachments').item.json.attachmentCount }}",
                            "rightValue": 3,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                896,
                -1456
            ],
            "id": "e22f0d15-8629-42b7-adf1-87c41a750b8f",
            "name": "If 3 Attachments",
            "executeOnce": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-more-than-3",
                            "leftValue": "={{ $('Count Attachments').item.json.attachmentCount }}",
                            "rightValue": 3,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                896,
                -1264
            ],
            "id": "123dd37f-1711-486e-ba31-870d0a310300",
            "name": "If More Than 3",
            "executeOnce": true
        },
        {
            "parameters": {
                "operation": "reply",
                "messageId": {
                    "__rl": true,
                    "value": "={{ $('If5').first().json.id }}",
                    "mode": "id"
                },
                "replyToSenderOnly": true,
                "message": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "file1"
                            },
                            {
                                "binaryPropertyName": "file2"
                            }
                        ]
                    },
                    "ccRecipients": "={{ $('Count Attachments').first().json.email }}"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1568,
                -1648
            ],
            "id": "3542ff92-4ec7-44cb-ad09-6b3223767cb0",
            "name": "Send 2 Attachments",
            "webhookId": "ac665f2d-637d-4101-84fb-6de68908cf6a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "operation": "reply",
                "messageId": {
                    "__rl": true,
                    "value": "={{ $('If5').first().json.id }}",
                    "mode": "id"
                },
                "replyToSenderOnly": true,
                "message": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "data"
                            }
                        ]
                    },
                    "ccRecipients": "={{ $('Count Attachments').first().json.email }}"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1792,
                -1264
            ],
            "id": "2164aedf-ec63-46a5-9af6-b5d53c801cf4",
            "name": "Send Compressed",
            "webhookId": "f9c4c700-318d-4bb1-83ec-0cf6ae790836",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "no-attachments",
                            "leftValue": "={{ $('Count Attachments').item.json.attachmentCount }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                896,
                -2032
            ],
            "id": "52b42827-193d-4b68-bf3a-443a1d17984e",
            "name": "If No Attachments",
            "executeOnce": true
        },
        {
            "parameters": {
                "operation": "compress",
                "binaryPropertyName": "={{ $json.files }}",
                "fileName": "Attachments.zip"
            },
            "type": "n8n-nodes-base.compression",
            "typeVersion": 1.1,
            "position": [
                1568,
                -1264
            ],
            "id": "3b2c5acd-debb-4a9c-814a-c2bbfc713d5f",
            "name": "Compression"
        },
        {
            "parameters": {
                "operation": "reply",
                "messageId": {
                    "__rl": true,
                    "value": "={{ $('If5').first().json.id }}",
                    "mode": "id"
                },
                "message": "={{ $('Count Attachments').first().json.replyMessage }}",
                "options": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1120,
                -2032
            ],
            "id": "ff581242-1676-4f19-8b9e-021ff1fe28d6",
            "name": "Send No Attachments",
            "webhookId": "795dc277-49b9-4ba8-ae72-3f5ca6b2921a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Get item\nconst item = $input.first();\nconst jsonData = item.json || {};\n\n// --- Recursive helper to find attachments ---\nfunction findAttachments(obj) {\n  if (!obj || typeof obj !== 'object') return [];\n  let results = [];\n  for (const [key, value] of Object.entries(obj)) {\n    if (key === 'attachments' && Array.isArray(value)) {\n      results = results.concat(value);\n    } else if (typeof value === 'object') {\n      results = results.concat(findAttachments(value));\n    }\n  }\n  return results;\n}\n\n// --- Helper: Recursively search for an email field ---\nfunction findEmail(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const [key, value] of Object.entries(obj)) {\n    if (typeof value === 'string' && /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(value)) {\n      return value;\n    }\n    if (typeof value === 'object') {\n      const found = findEmail(value);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\n// --- Helper: Recursively search for a message/body text field ---\nfunction findBody(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const [key, value] of Object.entries(obj)) {\n    if ([\"response_text\", \"body\", \"replyMessage\", \"message\", \"text\"].includes(key) \n        && typeof value === \"string\" && value.trim() !== \"\") {\n      return value;\n    }\n    if (typeof value === 'object') {\n      const found = findBody(value);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\n// --- Helper: Recursively search for ticketSource ---\nfunction findTicketSource(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const [key, value] of Object.entries(obj)) {\n    if (key === 'ticketSource') return value;\n    if (typeof value === 'object') {\n      const found = findTicketSource(value);\n      if (found !== null) return found;\n    }\n  }\n  return null;\n}\n\n// --- Helper: Recursively search for subject ---\nfunction findSubject(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const [key, value] of Object.entries(obj)) {\n    if (key.toLowerCase().includes('subject') && typeof value === 'string' && value.trim() !== '') {\n      return value;\n    }\n    if (typeof value === 'object') {\n      const found = findSubject(value);\n      if (found) return found;\n    }\n  }\n  return null;\n}\n\n// --- Helper: Recursively search for common_documents ---\nfunction findCommonDocuments(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const [key, value] of Object.entries(obj)) {\n    if (key === 'common_documents') return value;\n    if (typeof value === 'object') {\n      const found = findCommonDocuments(value);\n      if (found !== null) return found;\n    }\n  }\n  return null;\n}\n\n// --- Helper: Recursively search for ID (fallback if ticket_id not present) ---\nfunction findId(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n  for (const [key, value] of Object.entries(obj)) {\n    if (key === 'id' && (typeof value === 'string' || typeof value === 'number')) {\n      return value;\n    }\n    if (typeof value === 'object') {\n      const found = findId(value);\n      if (found !== null) return found;\n    }\n  }\n  return null;\n}\n\n// --- Extract nested body ---\nlet body = jsonData;\nif (jsonData.body) {\n  try {\n    body = typeof jsonData.body === 'string' ? JSON.parse(jsonData.body) : jsonData.body;\n  } catch {\n    body = jsonData.body;\n  }\n}\nif (body[\"0\"]) body = body[\"0\"];\nif (body.body_0) body = body.body_0;\nif (body[\"body[0]\"]) body = body[\"body[0]\"];\n\n// --- Extract key values ---\nconst email = jsonData.customer_email \n           || body.email \n           || findEmail(jsonData) \n           || null;\n\nconst subject = jsonData.ticket_subject \n             || body.subject \n             || findSubject(jsonData) \n             || null;\n\nconst emailBody = jsonData.response_text \n               \n               || body.replyMessage \n               || findBody(jsonData) \n               || null;\n\nconst replyMessage = jsonData.response_text || body.replyMessage || null;\n\nconst ticketId = jsonData.ticket_id \n              || body.ticket_id \n              || findId(body) \n              || findId(jsonData) \n              || null;\n\nconst ticketSource = jsonData.ticketSource \n                  || body.ticketSource \n                  || findTicketSource(jsonData) \n                  || null;\n\n// --- Step: Get attachments recursively ---\nlet attachments = findAttachments(jsonData);\n\n// --- Step: Merge in common_documents if any ---\nlet commonDocuments = jsonData.common_documents \n                   || body.common_documents \n                   || findCommonDocuments(jsonData) \n                   || null;\n\nlet commonDocumentsArray = [];\n\nif (Array.isArray(commonDocuments)) {\n  commonDocumentsArray = commonDocuments;\n} else if (commonDocuments) {\n  commonDocumentsArray = [commonDocuments];\n}\n\nif (commonDocumentsArray.length > 0) {\n  attachments = attachments.concat(commonDocumentsArray);\n}\n\n// --- Count & Flags ---\nconst attachmentCount = attachments.length;\nconst hasAttachments = attachmentCount > 0;\nconst commonDocumentFound = commonDocumentsArray.length > 0;\n\n// Debug logs\nconsole.log('Email:', email);\nconsole.log('Subject:', subject);\nconsole.log('Body:', emailBody);\nconsole.log('Attachments (merged):', attachments);\nconsole.log('Attachment Count:', attachmentCount);\nconsole.log('Ticket ID:', ticketId);\nconsole.log('Ticket Source:', ticketSource);\n\n// --- Final return structure ---\nreturn {\n  json: {\n    email,\n    subject,\n    replyMessage: emailBody,\n    ticket_id: ticketId,\n    ticketSource,\n    attachments,\n    attachmentCount,\n    hasAttachments,\n    common_document_found: commonDocumentFound\n  }\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -544,
                -848
            ],
            "id": "802cab92-523e-4a4f-8520-da00b8c92c6d",
            "name": "Count Attachments"
        },
        {
            "parameters": {
                "jsCode": "const attachments =$('Count Attachments').first().json.attachments  ;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                -1840
            ],
            "id": "06d45e70-19b1-476f-b1a7-a58aeb3f175f",
            "name": "Code"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                -1840
            ],
            "id": "6af648d7-6a36-4f53-9819-d8431af3dfa2",
            "name": "Code1"
        },
        {
            "parameters": {
                "jsCode": "const attachments = $('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                -1648
            ],
            "id": "1d2c0d52-a5da-418b-975e-bd92d1b40170",
            "name": "Code2"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                -1648
            ],
            "id": "51ca3f76-13c7-4df7-8309-9d61c00936cb",
            "name": "Code3"
        },
        {
            "parameters": {
                "jsCode": "const attachments =$('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                -1456
            ],
            "id": "86d306eb-d05a-4ce1-936b-56128051f76e",
            "name": "Code4"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                -1456
            ],
            "id": "d76cfc57-923c-4143-8e71-faa3171587f2",
            "name": "Code5"
        },
        {
            "parameters": {
                "jsCode": "const attachments =$('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                -1264
            ],
            "id": "44ccce18-3211-4e19-bf27-2d8669aa5be1",
            "name": "Code6"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                -1264
            ],
            "id": "dc1ee7fd-8ca3-46bd-bdbe-3853ed599f36",
            "name": "Code7"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "dee10bcb-1036-4b71-87ab-d7a6deea5dd9",
                            "leftValue": "={{ $('Webhook').item.json.body.source }}",
                            "rightValue": "=email template",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        },
                        {
                            "id": "has-message-id-check",
                            "leftValue": "={{ $('Webhook').item.json.body.message_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -224,
                -848
            ],
            "id": "84394321-0165-4967-9951-153f8578ab35",
            "name": "If1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-1-attachment",
                            "leftValue": "={{ $json.attachmentCount }}",
                            "rightValue": "1",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1024,
                -400
            ],
            "id": "9d391a17-1098-47f6-ad94-283ecdf06cf9",
            "name": "If 1 Attachment1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-2-attachments",
                            "leftValue": "={{ $json.attachmentCount }}",
                            "rightValue": "2",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1024,
                -208
            ],
            "id": "dead890c-05ab-4150-82d7-dc3b22854ff4",
            "name": "If 2 Attachments1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-3-attachments",
                            "leftValue": "={{ $json.attachmentCount }}",
                            "rightValue": "3",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1024,
                -16
            ],
            "id": "1b3899d7-194c-4ef0-9b6e-a288d85665ae",
            "name": "If 3 Attachments1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-more-than-3",
                            "leftValue": "={{ $json.attachmentCount }}",
                            "rightValue": "4",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1024,
                192
            ],
            "id": "25bea2d1-44bc-4f1f-ad8d-3cd2fd1816d6",
            "name": "If More Than "
        },
        {
            "parameters": {
                "toRecipients": "={{ $('Count Attachments').first().json.email }}",
                "subject": "={{ $('Count Attachments').first().json.subject }}",
                "bodyContent": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "file1"
                            },
                            {
                                "binaryPropertyName": "file2"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1696,
                -208
            ],
            "id": "96356b11-8486-4dee-bfed-3fb8071c2f81",
            "name": "Send 2 Attachments1",
            "webhookId": "ac665f2d-637d-4101-84fb-6de68908cf6a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "no-attachments",
                            "leftValue": "={{ $json.attachmentCount }}",
                            "rightValue": "0",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1024,
                -592
            ],
            "id": "2c296180-12ae-4ae0-abde-4a63bd9041bf",
            "name": "If No Attachments1"
        },
        {
            "parameters": {
                "operation": "compress",
                "binaryPropertyName": "={{ $json.files }}",
                "fileName": "Attachments.zip"
            },
            "type": "n8n-nodes-base.compression",
            "typeVersion": 1.1,
            "position": [
                1696,
                192
            ],
            "id": "77955cc7-850b-4e55-89c2-aca8ddddef2d",
            "name": "Compression1"
        },
        {
            "parameters": {
                "jsCode": "const attachments = $('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1248,
                -400
            ],
            "id": "999e639a-9d66-4ba6-9d94-fddce829e492",
            "name": "Code8"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1472,
                -400
            ],
            "id": "b0d36790-a284-41df-a87d-436632268f98",
            "name": "Code9"
        },
        {
            "parameters": {
                "jsCode": "const attachments = $('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1248,
                -208
            ],
            "id": "dd0ac1fc-98d8-465c-89cc-6414da7279b9",
            "name": "Code10"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1472,
                -208
            ],
            "id": "fbdd5df2-24a9-4502-894a-412758c37645",
            "name": "Code11"
        },
        {
            "parameters": {
                "jsCode": "const attachments = $('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1248,
                -16
            ],
            "id": "50e7b5c6-3208-4300-aed5-be1c1b5090d6",
            "name": "Code12"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1472,
                -16
            ],
            "id": "3cfa3938-5a49-4b2c-8cc9-2c48621c8f33",
            "name": "Code13"
        },
        {
            "parameters": {
                "jsCode": "const attachments = $('Count Attachments').first().json.attachments;\n\nif (!attachments || !Array.isArray(attachments)) {\n  throw new Error('No attachments found or attachments is not an array');\n}\n\nconst items = [];\n\nfor (const attachment of attachments) {\n  if (!attachment.data) {\n    throw new Error(`Attachment \"${attachment.filename}\" is missing \"data\" property`);\n  }\n\n  const binaryData = Buffer.from(attachment.data, 'base64');\n\n  items.push({\n    binary: {\n      data: {\n        data: binaryData.toString('base64'),\n        mimeType: 'application/octet-stream',\n        fileName: attachment.filename || 'attachment',\n      },\n    },\n    json: {},\n  });\n}\n\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1248,
                192
            ],
            "id": "59ff7247-3652-4c2a-a111-4f782db0475a",
            "name": "Code14"
        },
        {
            "parameters": {
                "jsCode": "const inputs = $input.all();\nconst binary = {};\nconst fileKeys = [];\n\ninputs.forEach((item, index) => {\n  const key = `file${index + 1}`;\n  fileKeys.push(key);\n  const renamedFile = { ...item.binary.data, fileName: item.binary.data.fileName || `file${index + 1}.dat` };\n  binary[key] = renamedFile;\n});\n\nreturn [{ binary, json: { files: fileKeys.join(','), fileCount: fileKeys.length } }];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1472,
                192
            ],
            "id": "44418d2f-94de-4cf4-8693-7000f9c58913",
            "name": "Code15"
        },
        {
            "parameters": {
                "toRecipients": "={{ $('Count Attachments').first().json.email }}",
                "subject": "={{ $('Count Attachments').first().json.subject }}",
                "bodyContent": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "file1"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1696,
                -400
            ],
            "id": "1452a64c-af66-4a5a-897e-beeb707c3013",
            "name": "Send 1 Attachments2",
            "webhookId": "ac665f2d-637d-4101-84fb-6de68908cf6a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "toRecipients": "={{ $('Count Attachments').first().json.email }}",
                "subject": "={{ $('Count Attachments').first().json.subject }}",
                "bodyContent": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1344,
                -608
            ],
            "id": "79046b1b-e929-43d1-9f2f-20f796d4961e",
            "name": "Send 0 Attachments2",
            "webhookId": "ac665f2d-637d-4101-84fb-6de68908cf6a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "toRecipients": "={{ $('Count Attachments').first().json.email }}",
                "subject": "={{ $('Count Attachments').first().json.subject }}",
                "bodyContent": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "file1"
                            },
                            {
                                "binaryPropertyName": "file2"
                            },
                            {
                                "binaryPropertyName": "file3"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1696,
                -16
            ],
            "id": "300bc89b-3f49-4153-87ba-1ff91de8bb84",
            "name": "Send 3 Attachments2",
            "webhookId": "ac665f2d-637d-4101-84fb-6de68908cf6a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "toRecipients": "={{ $('Count Attachments').first().json.email }}",
                "subject": "={{ $('Count Attachments').first().json.subject }}",
                "bodyContent": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "data"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1920,
                192
            ],
            "id": "03b22182-d2e8-4af7-8788-0bcbe5f8d40e",
            "name": "Send Compressed 2",
            "webhookId": "ac665f2d-637d-4101-84fb-6de68908cf6a",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "content": "# Send Reply from Conversation",
                "height": 1104,
                "width": 2128,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                192,
                -2112
            ],
            "typeVersion": 1,
            "id": "666622fa-ac67-4b0d-8ac3-6cbc9dbdf7e2",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "# Send Email Template That is make via Mail\n## Also handles Manual Ticket replies (no email thread)",
                "height": 1152,
                "width": 2064,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                240,
                -704
            ],
            "id": "c448e527-44fd-4789-991e-48d3fb1ab247",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "operation": "reply",
                "messageId": {
                    "__rl": true,
                    "value": "={{ $('If5').first().json.id }}",
                    "mode": "id"
                },
                "replyToSenderOnly": true,
                "message": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "=file1"
                            }
                        ]
                    },
                    "ccRecipients": "={{ $('Count Attachments').first().json.email }}"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1584,
                -1840
            ],
            "id": "7c4bcfda-5edd-4480-9d90-e9b078fc544f",
            "name": "Reply to a message",
            "webhookId": "29730bd8-87eb-4956-b236-5d86120ed5d4",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "operation": "reply",
                "messageId": {
                    "__rl": true,
                    "value": "={{ $('If5').first().json.id }}",
                    "mode": "id"
                },
                "replyToSenderOnly": true,
                "message": "={{ $('Count Attachments').first().json.replyMessage }}",
                "additionalFields": {
                    "attachments": {
                        "attachments": [
                            {
                                "binaryPropertyName": "file1"
                            },
                            {
                                "binaryPropertyName": "file2"
                            },
                            {
                                "binaryPropertyName": "file3"
                            }
                        ]
                    },
                    "ccRecipients": "={{ $('Count Attachments').first().json.email }}"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                1568,
                -1456
            ],
            "id": "7dae6832-fcf2-42d8-bf8e-592eeb056523",
            "name": "Send 3 Attachments",
            "webhookId": "c17b249f-d4da-45e3-9a6d-dc8b715ad978",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "messageId": {
                    "__rl": true,
                    "value": "={{ $('Webhook').item.json.body.message_id }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                432,
                -1616
            ],
            "id": "444e3381-5187-4fa2-9ad7-6ea4cd9584d7",
            "name": "If5",
            "webhookId": "e8ef10f1-0627-41a8-8c75-1726407ba950",
            "alwaysOutputData": false,
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "vATdwBaabb4NI99J",
                    "name": "test 19 jan usman"
                }
            },
            "onError": "continueRegularOutput"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Count Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 1 Attachment": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 2 Attachments": {
            "main": [
                [
                    {
                        "node": "Code2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 3 Attachments": {
            "main": [
                [
                    {
                        "node": "Code4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If More Than 3": {
            "main": [
                [
                    {
                        "node": "Code6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If No Attachments": {
            "main": [
                [
                    {
                        "node": "Send No Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compression": {
            "main": [
                [
                    {
                        "node": "Send Compressed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Count Attachments": {
            "main": [
                [
                    {
                        "node": "If1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "Code1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code1": {
            "main": [
                [
                    {
                        "node": "Reply to a message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code2": {
            "main": [
                [
                    {
                        "node": "Code3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code3": {
            "main": [
                [
                    {
                        "node": "Send 2 Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code4": {
            "main": [
                [
                    {
                        "node": "Code5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code5": {
            "main": [
                [
                    {
                        "node": "Send 3 Attachments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code6": {
            "main": [
                [
                    {
                        "node": "Code7",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code7": {
            "main": [
                [
                    {
                        "node": "Compression",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If1": {
            "main": [
                [
                    {
                        "node": "If5",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "If No Attachments1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If 1 Attachment1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If 2 Attachments1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If 3 Attachments1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If More Than ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 1 Attachment1": {
            "main": [
                [
                    {
                        "node": "Code8",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 2 Attachments1": {
            "main": [
                [
                    {
                        "node": "Code10",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If 3 Attachments1": {
            "main": [
                [
                    {
                        "node": "Code12",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If More Than ": {
            "main": [
                [
                    {
                        "node": "Code14",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If No Attachments1": {
            "main": [
                [
                    {
                        "node": "Send 0 Attachments2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compression1": {
            "main": [
                [
                    {
                        "node": "Send Compressed 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code8": {
            "main": [
                [
                    {
                        "node": "Code9",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code9": {
            "main": [
                [
                    {
                        "node": "Send 1 Attachments2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code10": {
            "main": [
                [
                    {
                        "node": "Code11",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code11": {
            "main": [
                [
                    {
                        "node": "Send 2 Attachments1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code12": {
            "main": [
                [
                    {
                        "node": "Code13",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code13": {
            "main": [
                [
                    {
                        "node": "Send 3 Attachments2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code14": {
            "main": [
                [
                    {
                        "node": "Code15",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code15": {
            "main": [
                [
                    {
                        "node": "Compression1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If5": {
            "main": [
                [
                    {
                        "node": "If No Attachments",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If 1 Attachment",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If 2 Attachments",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If 3 Attachments",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If More Than 3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "4ef5ab5a5c0cc7b18cf6e39be162cdf4d49f82eff48105fb32f35a3ff2e4165c"
    }
}